<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <configuration>
  	<!-- 해당 vo타입을 xml에서 alias로 사용이 가능함 -->
  	<typeAliases>
  		<typeAlias type="com.simple.command.ScoreVO" alias="ScoreVO"/>
  	</typeAliases>
  	
  	
  </configuration>